body {
    
    padding-bottom: 40px;
}

li
{
  list-style:none;
}

lead{color: black;}

.top{ padding-top: 20px;}
.bigTop{ padding-top: 50px;}
.miniTop{ padding-top: 10px;}

.bop{ margin-bottom: 20px;}
.bigBop{ margin-bottom: 50px;}
.miniBop{ margin-bottom: 10px;}

.bRight { border-right: 1px solid black }
.blue { background-color: rgb(46,49,146) }
.black { background-color: rgb(0,0,0) }
.textWhite { color: white}
