
@font-face{
  font-family:Calibri;
  src:url('../fonts/Calibri.ttf') format("truetype");
}


li { list-style:none; }
a {color: black;}
a:hover {color: rgba(0,0,0,.8);}
a:link{ text-decoration: none; }

lead{color: black;}

.container {font-family: Calibri;}
.container-fluid {font-family: Calibri;}



@media (max-width: 767px) {
  .top{ padding-top: 8px;}
  .bigTop{ padding-top: 20px;}
  .miniTop{ padding-top: 10px;}
  .specialAlign{text-align: center}
  .formAlign{text-align: center}
  .topXS {padding-top: 5px;} 

}

@media (min-width: 768px) and (max-width: 991px) {
  .top{ padding-top: 10px;}
  .bigTop{ padding-top: 20px;}
  .miniTop{ padding-top: 10px;}
  .specialAlign{text-align: center}
  .formAlign{text-align: right;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top{ padding-top: 20px;}
  .bigTop{ padding-top: 30px;}
  .miniTop{ padding-top: 10px;}
  .bRight { border-right: 1px solid black }
  .specialAlign{text-align: left}
  .formAlign{text-align: right}
}

/*Estilos para resolución grande*/
@media (min-width: 1200px) {
  .top{ padding-top: 20px;}
  .bigTop{ padding-top: 50px;}
  .miniTop{ padding-top: 10px;}
  .bRight { border-right: 1px solid black }
  .specialAlign{text-align: left}
  .formAlign{text-align: right}
}

.login
{
  padding-top: .8em;
  padding-bottom: .8em;
  color: white;
  font-weight: bold;
  background-color: rgb(46,49,146);



}

@media (min-width: 1920px) {
  .loginArea
  {
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
    font-weight: bold;
    background-color: rgb(46,49,146);
    background-image: url('../img/login/fullHD.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .loginArea
  {
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
    font-weight: bold;
    background-color: rgb(46,49,146);
    background-image: url('../img/login/grande.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .loginArea
  {
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
    font-weight: bold;
    background-color: rgb(46,49,146);
    background-image: url('../img/login/mediana.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .loginArea
  {
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
    font-weight: bold;
    background-color: rgb(46,49,146);
    background-image: url('../img/login/chica.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .loginArea
  {
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
    font-weight: bold;
    background-color: rgb(46,49,146);
    background-image: url('../img/login/movil.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}

 

.bold {font-weight: bold;} 

.justifyText{ text-align : justify; }

.blue { background-color: rgb(46,49,146); }
.black { background-color: rgb(0,0,0) }
.textWhite { color: white}
.textBlue {color: blue}

.imgLang
{
  margin-top: .8em;
  
  width: 32px;
  height: 24px;
}
.imgEsp-xs
{
  border-radius: 4px 0 0 4px;
  border: 1px solid #eee;
  background-color: white;
  position: fixed;
  right: 0;
  top: 20px;
  width: 42px;
  height: 31.5px;
  z-index: 10;
}
.imgEng-xs
{
  border-radius: 4px 0 0 4px;
  border: 1px solid #eee;
  background-color: white;
  position: fixed;
  right: 0;
  top: 62px;
  width: 42px;
  height: 31.5px;
  z-index: 10;
}


 .panel-login
 {
  margin-top: 10em;
 }
.username
{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: lighter;
  height: 2.3em;
}

.password
{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-weight: lighter;
  height: 2.3em;
  
}
#plhPass
{
  margin-top: .5em;
  margin-right: .5em;
  
}

.white
{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 15px;
  text-decoration: none;
}


.img-Back
{
  width: 5em;
  position: relative;
  top: 2em;
  left: 2em;
}
.img-Back:hover{ cursor: pointer; opacity: 0.5;}


.icon-right-arrow
{
  color: rgb(220,220,220); 
  font-size: 35px;
  margin-top: 0.1em;
  margin-right: .3em;

}
input[type="text"] > input:active { cursor: pointer; }

.iconButton 
{
  color: black;
  cursor: pointer;
} 


.alert-maritimo 
{
  color: #31708f;
  background-color: rgba(1,168,184,.3);
  border-color: #bce8f1;
  border-radius: 0px;
}
.alert-aereo 
{
  color: rgba(255,185,3,1);
  background-color: rgba(255,185,3,.2);
  border-color: rgba(255,185,3,.1);
  border-radius: 0px;
}
.alert-terrestre 
{
  color: rgba(253,89,0,1);
  background-color: rgba(253,89,0,.3);
  border-color: rgba(253,89,0,.3);
  border-radius: 0px;
}

.detalle-content
{
  margin-left: 3em;
}
/*
#detalle
{
  position: relative;
  background-color: rgba(0,0,0,.8);
  color: white;
  opacity: 1;

  top: -24em;
  height: 24em;
  margin-left: 24em;
}
*/

.icon-close 
{ 
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}


.icon-close:hover
{
  color: rgba(255,255,255,.7);
}

.italic {font-style: italic;}

.social-ico 
{
  width: 24px;
  height: 24px;
}

#cbServicio{ height: 35px; }

.cotizar
{
  position: absolute;
  color: white;
  font-size: 25px;
  bottom: 10px;
  right: 10px;
}
.cotizar:hover
{
  position: absolute;
  color: rgba(255,255,255,.7);
  font-size: 25px;
  bottom: 10px;
  right: 10px;
}

.btn-cotizar
{
  position: fixed;
  right: 0;
  width: 90px;
  height: auto;
  background-color: transparent;
  z-index: 10;
  color: rgba(46,49,146);
  font-family: bold;
}
.btn-cotizar-xs
{
  border: 1px solid rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 30%;
  height: 30px;
  background-color: rgb(46,49,146);
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
}
.btn-cotizar-xs:hover {color: rgba(255,255,255,.5);} 
.btn-user-xs
{
  border: 1px solid rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
  left: 34%;
  z-index: 10;
  width: 30%;
  height: 30px;
  background-color: rgb(46,49,146);
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
}
.btn-user-xs:hover{color: rgba(255,255,255,.5);}

.btn-up-xs
{
  border: 1px solid rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
  left: 65%;
  z-index: 10;
  width: 10%;
  height: 30px;
  background-color: rgb(46,49,146);
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
}
.btn-up-xs:hover{color: rgba(255,255,255,.5);}


.img-responsive{ z-index: 1;}