.width-100{
    width: 100%;
}

.width-93{
    width: 93%;
}

.empleado_foto{
    cursor: pointer;
}

table tbody td.options i.fa-trash-o{
    color:red;
}

table tbody td.options a:not(:first-child){
    margin-left: 10px;
}

.dz-download{
    background-image: -moz-linear-gradient(center top , #fafafa 0px, #eee 100%);
    border: 1px solid #eee;
    border-radius: 2px;
    color: #aaa;
    display: block;
    margin-top: 5px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}

#admin_login{
    background-image: url(/img/admin/login/6793522-free-office-wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

input[type=file]{
    padding-left: 0 !important;
    padding-top: 0 !important;
}

span.legal_validation.ok i{
    color: green;
    margin-left: 10px;
}

span.legal_validation.notyet i{
    color: red  ;
    margin-left: 10px;
}





